<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nickming.familyfinancing">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitleBar"
        tools:replace="icon">
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.financing.FinancingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.chart.ChartActivity" />
        <activity android:name=".ui.setting.SettingActivity" />
        <activity android:name=".ui.record.RecordActivity" />
        <activity
            android:name=".ui.lock.FinancingSetPatternActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.lock.FinancingConfirmActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.chart.ChartDetailActivity" />
        <activity android:name=".ui.financing.FinancingDetailActivity" />
        <activity android:name=".ui.shares.SharesActivity">
        </activity>
        <activity android:name=".ui.shares.SharesDetailActivity" />
        <activity android:name=".ui.news.NewsActivity" />
        <activity android:name=".ui.news.NewsDetailActivity"></activity>
    </application>

</manifest>